<app-create-task-http-client *ngIf="showCreateTaskForm" (closeForm)="closeCreateTaskForm()"
  (emitTaskData)="createOrUpdateTask($event)" [isEditMode]="editMode"
  [selectedTask]="selectedTask"></app-create-task-http-client>

<div class="dashboard-container">
  <div style="display: flex;">
    <div style="width: 50%">
      <h2>Dashboard</h2>
    </div>
    <div style="width: 50%; text-align: right;">
      <button class="create-task-btn" (click)="openCreateTaskForm()">Create Task</button>
      <button class="create-task-btn" (click)="fetchAllTasks()">Fetch Tasks</button>
      <button class="create-task-btn" (click)="deleteAllTasks()">Clear Tasks</button>
    </div>
  </div>

  <hr>

  <div class="dashboard-item-container">
    <div *ngIf="allTasks.length < 1" style="text-align: center;">
      <h2>No task at database</h2>
    </div>
    <div class="task-item" *ngFor="let task of allTasks" [ngClass]="'task-' + task.status">
      <div class="task-title">
        <h3>{{ task.title }}</h3>
      </div>
      <p><b>Assigned to: </b>{{ task.assignedTo }}</p>
      <p><b>Priority: </b>{{ task.priority }}</p>
      <p><b>Status: </b>{{ task.status }}</p>
      <div class="task-action-icons">
        <button class="task-action-btn" title="Detail">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
        <button class="task-action-btn" title="Edit" (click)="editTask(task.id)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button class="task-action-btn" title="Delete" (click)="deleteTask(task.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
