<div class="home-page-container">
  <div id="search__">
    <section>
      <app-banner></app-banner>
    </section>
  </div>

  <div id="courses__">
    <section>
      <app-popular></app-popular>
    </section>
  </div>

  <div id="testimony__">
    <section>
      <app-testimony></app-testimony>
    </section>
  </div>

  <div id="services__">
    <section>
      <app-services></app-services>
    </section>
  </div>

  <div id="contact__">
    <section>
      <app-contact-us></app-contact-us>
    </section>
  </div>
</div>
