<!-- <app-top-header></app-top-header>
<app-header></app-header>
<app-container></app-container> -->



<!-- <app-view-children></app-view-children> -->
<!-- <app-ng-template></app-ng-template> -->
<!-- <app-ng-container></app-ng-container> -->
<!--
<hr>
<hr>
<hr>
<hr> -->

<!-- <app-parent></app-parent> -->

<!-- <app-life-cycle-hook></app-life-cycle-hook> -->

<!-- <div class="difference-between-property-and-host-binding-container">
  <app-difference-between-property-and-host-binding></app-difference-between-property-and-host-binding>
</div> -->

<!-- <app-custom-class-and-style></app-custom-class-and-style> -->

<!-- <app-custom-structural-directive></app-custom-structural-directive> -->

<!-- <app-switch-directive></app-switch-directive> -->

<!-- <app-view-encapsulation></app-view-encapsulation> -->

<!-- <app-angular-services-and-dependency-injection></app-angular-services-and-dependency-injection> -->

<!-- <app-observables-and-rx-js></app-observables-and-rx-js> -->

<!-- <app-angular-dynamic-components></app-angular-dynamic-components> -->

<app-angular-router-and-route-guards></app-angular-router-and-route-guards>

<!-- <app-sort-algorithms></app-sort-algorithms> -->

<!-- <app-eight-queens-problem></app-eight-queens-problem> -->

<!-- <app-knight-tour-problem></app-knight-tour-problem> -->

<!-- <app-word-break-problem></app-word-break-problem> -->

<!-- <app-remove-invalid-parentheses></app-remove-invalid-parentheses> -->

<!-- <app-match-apattern-and-string-without-using-regular-expressions></app-match-apattern-and-string-without-using-regular-expressions> -->
