<app-filter (selectedFilterRadioButtonChanged)="onFilterChange($event)" [all]="totalProductCount"
  [inStock]="totalProductInStock" [outOfStock]="totalProductOutOfStock"></app-filter>
<div class="ekart--products--container">
  <ng-container *ngFor="let prod of products">
    <!-- <app-product [product]="prod"
      *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton">
    </app-product> -->
    <app-product (click)="selectedProduct = prod" [product]="prod"
      *ngIf="searchText === '' ||  prod.name.toLowerCase().includes(searchText)">
    </app-product>
  </ng-container>
</div>
