h2 {
  margin: 20px 50px;
  font-family: 'Lucia Sana';
  color: #28282B;
}

.app-container {
  margin: 20px 50px;
  padding: 10px 20px;
}

.appHighlight {
  border: black 3px solid;
  background-color: gold;
}

.appFont {
  font-family: 'Lucia Sana';
  font-size: 18px;
}
